p,
h2 {
    color: rgb(255, 255, 255);
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: white;
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


body {
    background-color: #65bd73;
}

.text {
    font-size: larger;
    letter-spacing: 1.4px;
    color: rgb(255, 255, 255);

}

a {
    color: rgb(255, 255, 255);
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.that_feeling {
    max-width: 50%;
    height: auto;
}

#title {
    font-size: 60px;
    letter-spacing: -3px;
    line-height: 80%;
    text-transform: uppercase;
    margin-bottom: -1%;
    margin-top: 1%;
    text-align: center;
}

.name {
    letter-spacing: -1px;
    line-height: 80%;
    text-align: center;
}

.selfie {
    max-width: 300%;
    height: auto;
}

.column {
    float: left;
    width: 5%;
    padding: 0%;
}

a:visited {
    color: #0019B7;
}

a:hover {
    color: rgb(0, 255, 8);

}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.project {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
}

.project-box {
    margin-left: 10px;
    padding: 1%;
    width: 40vw;
    height: 500px;
}

.project-box img {
    max-width: 30vw;
    margin-inline: auto;
    border: solid #c1c1c1;
}

.word1 {
    position: relative;
    margin-bottom: 0%;
    margin-top: 0%;
    letter-spacing: -8px;
    padding-left: 2%;
    line-height: -20px;
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.word2 {
    position: relative;
    margin-bottom: 0%;
    margin-top: 0%;
    letter-spacing: -8px;
    padding-left: 10%;
    line-height: .6;
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;


}

h1 {
    font-size: 200px;
    margin-bottom: 0%;
    margin-top: 0%;
    font-weight: 700;
}

#header {
    display: relative;
    max-height: fit-content;
}

.subheading {
    position: relative;
    width: 250px;
    padding-left: 10%;
}

.subheading-move {
    position: relative;
    left: 210%;
}

#icon {
    position: fixed;
    top: 10px;
    right: 100px;
}

@media screen and (max-width: 768px) {
    .project-box {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 130px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 90px;
    }
}